<header class="bg-white">

    <!-- TOP MENU -->
    <div class="border-bottom border-3 border-light">
        <ul class="nav small text-uppercase fw-bold gap-3">
            <li class="nav-item small">
                <a class="nav-link px-0 text-secondary" href="/">Home</a>
            </li>
            <li class="nav-item small">
                <a class="nav-link px-0 text-secondary" href="/about">
                    About
                </a>
            </li>
            <li class="nav-item small">
                <a class="nav-link px-0 text-secondary" href="/privacy">
                    Privacy
                </a>
            </li>
            <li class="nav-item small">
                <a class="nav-link px-0 text-secondary" href="/contact">
                    Contact
                </a>
            </li>
            <li class="nav-item small">
                <a class="nav-link px-0 text-secondary" href="/sitemap">
                    Sitemap
                </a>
            </li>
        </ul>
    </div>

    <!-- LOGO -->
    <div class="py-4">
        <a href="/" class="text-decoration-none">
            <h4 class="text-success fw-bold text-uppercase m-0">
                {{ site.title }}
            </h4>
        </a>
    </div>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-success border-5 py-0">
        <!-- MOBILE BUTTON -->
        <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- MENU -->
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto text-uppercase fw-bold small">

                <!-- HOME -->
                <li class="nav-item border border-success">
                    <a class="nav-link text-white link-warning active bg-success px-3" href="/">
                        Home
                    </a>
                </li>

                <!-- LIVING ROOM -->
                <li class="nav-item dropdown border border-dark">
                    <a class="nav-link dropdown-toggle text-white link-warning px-3" href="#" role="button"
                        data-bs-toggle="dropdown">
                        Living Room
                    </a>

                    <ul class="dropdown-menu rounded-0 border-0 shadow">

                        <li>
                            <a class="dropdown-item" href="/categories/#modern-living-room">
                                Modern Living Room
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/categories/#small-living-room">
                                Small Living Room
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/categories/#luxury-living-room">
                                Luxury Living Room
                            </a>
                        </li>

                    </ul>
                </li>

                <!-- BEDROOM -->
                <li class="nav-item dropdown border border-dark">
                    <a class="nav-link dropdown-toggle text-white link-warning px-3" href="#" role="button"
                        data-bs-toggle="dropdown">
                        Bedroom
                    </a>

                    <ul class="dropdown-menu rounded-0 border-0 shadow">

                        <li>
                            <a class="dropdown-item" href="/categories/#modern-bedroom">
                                Modern Bedroom
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/categories/#minimalist-bedroom">
                                Minimalist Bedroom
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/categories/#luxury-bedroom">
                                Luxury Bedroom
                            </a>
                        </li>

                    </ul>
                </li>

                <!-- KITCHEN -->
                <li class="nav-item dropdown border border-dark">
                    <a class="nav-link dropdown-toggle text-white link-warning px-3" href="#" role="button"
                        data-bs-toggle="dropdown">
                        Kitchen
                    </a>

                    <ul class="dropdown-menu rounded-0 border-0 shadow">

                        <li>
                            <a class="dropdown-item" href="/categories/#modern-kitchen">
                                Modern Kitchen
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/categories/#small-kitchen">
                                Small Kitchen
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/categories/#luxury-kitchen">
                                Luxury Kitchen
                            </a>
                        </li>

                    </ul>
                </li>

                <!-- DECOR -->
                <li class="nav-item dropdown border border-dark">
                    <a class="nav-link dropdown-toggle text-white link-warning px-3" href="#" role="button"
                        data-bs-toggle="dropdown">
                        Decor
                    </a>

                    <ul class="dropdown-menu rounded-0 border-0 shadow">

                        <li>
                            <a class="dropdown-item" href="/categories/#wall-decor">
                                Wall Decor
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/categories/#home-lighting">
                                Home Lighting
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/categories/#furniture">
                                Furniture
                            </a>
                        </li>

                    </ul>
                </li>

            </ul>

            <!-- SEARCH -->
            <form class="d-flex border border-left border-dark" action="/search/" method="get">
                <input class="form-control rounded-0 border-0" type="search" name="q" placeholder="Search...">
                <button class="btn btn-success rounded-0 px-2" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </nav>
</header>

<!-- AD -->
<div class="adbanner my-4 text-center overflow-hidden"></div>