@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
/* CSS */
body {background:#ecf0f1;font-size:16px;font-family:Roboto,Arial,Sans-serif;font-weight:normal;line-height:1.6em;color:#2c3e50}
#clear,.clear{clear:both}
#navbar-iframe,.feed-links,.quickedit{display:none!important;visibility:hidden}
img,iframe,table,video,object,embed{background:none!important;border:0!important;max-width:100%}
img{max-width:100%;height:auto;}
img:hover{cursor:zoom-in}
img.hide{display:none;visibility:hidden}
iframe:hover{cursor:default!important}
strong,b{font-weight: 600}
cite,em,i{font-style:italic}
a, a:hover, a:focus, a:active{color:#e74c3c}
a:hover, a:focus, a:active{text-decoration:none;opacity:.8;cursor:default!important}
a:link{text-decoration:none}
a:visited{text-decoration:none;-webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in}
a:hover{color:#333;text-decoration:none;-webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;cursor:pointer}
a img{border:none;border-width:0;outline:none}
abbr,acronym{color:#666;border-bottom:1px dotted;cursor:help;position:relative}
small{font-size:86%}
p,blockquote,pre,table,figure,hr,form,ol,ul,dl{margin:0 0 1.2em}
hr{height:1px;border:none;background-color:#666}
h1,h2,h3,h4,h5,h6{font-weight: 700;color:#555}
h1{font-size:130%}
h2{font-size:120%}
h3{font-size:110%}
h4{font-size:100%}
h5{font-size:80%}
h6{font-size:60%}
dl,ol,ul{margin-left:20px}
ol{list-style:decimal outside}
ul{list-style:square outside}
li{margin:5px 0}
ol ol,ul ul{margin-left:16px}
ol li{border-bottom:1px dashed #e5e5e5;padding:0 0 5px}
dl{overflow:hidden}
li p:first-child,dt p:first-child{margin-top:20px}
dt{clear:left;float:left;width:26%;text-align:right}
dd{margin-left:30%;margin-bottom:20px}
kbd{background-color:#2E3439;color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;font-size:86%;padding:2px 6px}
small{font-size:86%}
sup,sub{font-size:76%;position:relative;top:.45em}
sup{top:-.45em}
mark,.highlight{background-color:#FAD163;color:black}
mark.highlight{border:1px solid #8D3000}
pre,code{font-family:"Courier New",Courier,Monospace;color:inherit}
pre{white-space:pre;word-wrap:normal;overflow:auto}
form{margin:0;padding:0}
.separator,.separator a{margin-right:0!important;margin-left:0!important}

body {
  background: #e9ecef;
  font-family: "Roboto", Arial, sans-serif;
  color: #444;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.wrapper {
  padding: 1.5rem;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 1.5rem;
}

.wrapper,
.footer {
  max-width: 1080px;
  overflow: hidden;
}

/* FEATURED POST */
.featured-post {
  margin-bottom: 30px;
}

.featured-img {
  object-fit: cover;
  transition: .3s;
}

.featured-post:hover .featured-img {
  transform: scale(1.05);
}

.featured-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.75)
}

.featured-label {
  display: inline-block;
  background: #198754;
  color: #fff;
  padding: 4px 10px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: -12px;
}

.featured-title {
  margin: 0;
  line-height: 1.4;
  font-weight: 700;
  color: #333;
}

/* LATEST POST */
.latest-post {
  background: #f3f3f3;
  margin: 0 0 15px;
  overflow: hidden
}

.latest-post h6 {
  background: #198754;
  display: inline-block;
  position: relative;
  line-height: 28px;
  margin: 0;
  padding: 0 15px;
 
}

.latest-post h6:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -12px;
  border-top: 28px solid transparent;
  border-left: 12px solid #198754;
  border-left: .75rem solid #198754
}


/* WIDGET */
.widget-title {
  border-bottom: 3px solid #e5e5e5;
  margin-bottom: 20px;
}

.widget-title h6 {
  display: inline-block;
  margin: 0 0 -3px;
  padding-bottom: 6px;
  text-transform: uppercase;
  color: #333;
  border-bottom: 3px solid #2a9d8f;
}

/* SHARE */
.share .btn {
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.2s ease;
}

.share .btn:hover {
  transform: translateY(-2px);
}


/* STRIPES */
.gmr-bgstripes {
  width: 100%;
  height: 4px;
  overflow: hidden;
  background: #333
}

.gmr-bgstripe {
  width: 5%;
  height: 4px;
  float: left
}

.gmr-color1 {
  background: #008299
}

.gmr-color2 {
  background: #2672ec
}

.gmr-color3 {
  background: #8c0095
}

.gmr-color4 {
  background: #5133ab
}

.gmr-color5 {
  background: #ac193d
}

.gmr-color6 {
  background: #d24726
}

.gmr-color7 {
  background: #008a00
}

.gmr-color8 {
  background: #094ab2
}

.gmr-color9 {
  background: #006ac1
}

.gmr-color10 {
  background: #ff2e12
}

.gmr-color11 {
  background: #1faeff
}

.gmr-color12 {
  background: #91d100
}

.gmr-color13 {
  background: #cea539
}

.gmr-color14 {
  background: #7f6e94
}

.gmr-color15 {
  background: #4617b4
}

.gmr-color16 {
  background: #ad103c
}

.gmr-color17 {
  background: #004d60
}

.gmr-color18 {
  background: #569ce3
}

.gmr-color19 {
  background: #e56c19
}

.gmr-color20 {
  background: #1b58b8
}

/* Footer */
.footer {
  background: #2c3e50;
}

.credit {
  color: #ecf0f1;
  font-size: 13px;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center
}

.credit a {
  color: #fff
}

.credit a:hover {
  color: #bdc3c7
}

.credit i {
  color: red;
  margin: auto 5px
}

span.credit {
  color: yellow
}

/* footer navigasi */
.footer-navmenu {
  padding: 15px 0px;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer-navmenu ul {
  list-style: none;
  margin: 0;
}

.footer-navmenu ul li {
  display: inline-block;
  margin: 6px 0;
}

.footer-navmenu ul li:after {
  content: "/";
}

.footer-navmenu ul li:last-child:after {
  content: "";
}

.footer-navmenu ul li a {
  color: #ffffff;
  margin: 0 10px;
}

.footer-navmenu ul li a:hover {
  color: #ffffff;
  border-bottom: 2px solid #f8cb00;
}

/* RESPONSIVE */
@media(max-width:768px) {
  .wrapper {
    padding: 1rem;
    margin: 0;
  }
}

@media screen and (max-width:480px) {
  .wrapper {
    padding: .5rem;
  }
}